# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Database local
database/
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# APK / binarios Android
*.apk
*.aab

# Temporales
lint_output.txt
*.log
